@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@font-face{
  font-family: 'Varela';
  font-style: normal;
  font-size: 100px;
  src: url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
}

.title h1 {
    color:black !important;
    font-weight: bold;
    font-family: 'Varela', sans-serif !important;

}