@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'), url('https://www.scdn.co/i/connect/header-spikes-sm.jpg');
   

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
.title {
    color:black !important;
    font-weight: 900;
}

.about-content h1, h2, h3 {
    font-family: 'Poppins', sans-serif !important; 
}

.main-container h1 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif !important; 
}

.main-container p {
    text-align: left;
    font-family: 'Poppins', sans-serif !important; 

}

.skyler-headshot {
    display: block;
    padding: 10px;
    width: 200px;
    height: auto;
}

.main-container {
    display: table;
    overflow: hidden;
    min-height: 1500px;

   /* min-height: 1300px !important; 
    /* increase size of div according to contents? https://stackoverflow.com/questions/20814855/how-to-increase-size-of-div-according-to-its-contents
    /*
    overflow: scroll !important;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }

.contact-formspree {
    font-family: 'Poppins', sans-serif !important; 

}

.formspree-name {
    font-family: 'Poppins', sans-serif !important; 
}

.contact-formspree textarea {
    font-family: 'Poppins', sans-serif !important;  
}