@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'), url('https://www.scdn.co/i/connect/header-spikes-sm.jpg');
   

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
.title {
    color:black !important;
    font-weight: 900 !important;
}

.about-content h1, h2, h3 {
    font-family: 'Poppins', sans-serif !important; 
}

.main-container h1 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important; 
    font-weight: bolder !important;

}

.main-container h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important; 
    font-weight: bolder !important;

}

.waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    30% { transform: rotate(-8.0deg) }
    40% { transform: rotate(14.0deg) }
    50% { transform: rotate(-4.0deg) }
    60% { transform: rotate(10.0deg) }
    70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
   100% { transform: rotate( 0.0deg) }
  }

.main-container p {
    text-align: left;
    font-family: 'Poppins', sans-serif !important; 

}

.skyler-headshot {
    display: block;
    padding: 10px;
    width: 200px;
    height: auto;
}

.main-container {
    display: table;
    overflow: hidden;
    min-height: 3600px; /* USE THIS TO ADJUST FIXED CONTAINER HEIGHT */
    margin-left: 250px;
    margin-right: 250px;
   /* min-height: 1300px !important; 
    /* increase size of div according to contents? https://stackoverflow.com/questions/20814855/how-to-increase-size-of-div-according-to-its-contents
    /*
    overflow: scroll !important;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }




/* CODE SECTION */

.project-cards {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
.project-card-skyler {
    flex: 50%;
    padding: 10px;
  }

.flix-pic {
    display: block;
    text-align: center;
    padding: 0px;
    width: 400px;
    height: auto;
    margin: auto;
}

.button-skyler {
    display: block;
    padding: 10px 15px 10px 15px;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    line-height: 0px;
    border: 1px solid black;
  
    /* Colors */
    background-color: #F3F4F6;
    color: var(--navy);
    transition: .5s ease-out;
  
    /* Font */
    font-weight: 600;
    font-size: 11px !important;
    color: black !important;
  
  }

  .button-skyler p{
    font-size: 14px !important;
  
  }

  .button-skyler a:hover{
    display: block;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 0px;
    text-decoration: none;
    line-height: 0px;
    box-shadow: 3px 3px black;
  
    /* Colors */
    background-color: white !important;
    color: var(--navy);
    transition: .5s ease-out;
  
    /* Font */
    font-weight: 600;
    font-size: 14px;
  
  }

/* CREATE SECTION */

.project-cards {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
.project-card-skyler {
    flex: 50%;
    padding: 10px;
   /* height: 300px; /* Should be removed. Only for demonstration */
  }

.frontdoor-pic {
    display: block;
    text-align: left;
    padding: 0px;
    width: auto;
    height: 250px;
}

.daydreaming-pic {
    display: block;
    text-align: left;
    padding: 0px;
    width: auto;
    height: 250px;
}



/* PLAY SECTION */
.play-pics {
    display: block;
    text-align: center;
    padding: 0px;
    width: 200px;
    height: auto;
    margin: auto;
}


/* CONTACT SECTION */

.contact-formspree {
    font-family: 'Poppins', sans-serif !important; 
    text-align: left;

}

.formspree-name p {
    font-family: 'Poppins', sans-serif !important; 
    line-height: 0px;    

}

.formspree-name textarea {
    font-family: 'Poppins', sans-serif !important; 
}

.contact-formspree textarea {
    font-family: 'Poppins', sans-serif !important;  
    width: 600px; 
}

.contact-formspree-button button p {
    font-family: 'Poppins', sans-serif !important; 
    background-color: #D3CFFF !important;

}

.contact-formspree-button {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -10px;
    padding-bottom: -10px;
    line-height: 0px;
    background-color: #D3CFFF !important;


}

#submit-btn-formspree p {
    font-family: 'Poppins', sans-serif !important; 

}

.contact-formspree .formspree-message-box  {
    font-family: 'Poppins', sans-serif !important;  
    width: 600px; 
    height: 200px;

}

.formspree-message-box {
    height: 200px;
}
