.andreaBGI{
    background-image: url("https://images.unsplash.com/photo-1609940829412-4a0919604ac0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 100%;
    // height: auto;
}
.andreasBio{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

    .container {
        display: flex;
        justify-content: center;
    }
    .flex-container{
        justify-content: space-evenly;
    }

    h1{
        text-align: center;
    }
    .paragraphs{
        border: solid 1px black;
        left: 35%;
        position: relative;
        padding: 10px;
        width: 258px;
        height: 215px;
        text-align: justify;
    }

    .andreaImg{
        display: block;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        border: 10px solid #ddd;
    }
} 