.categoryTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom:5px;
  padding-top: 15px;
  
}

.api-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 25%;
}

p {
  text-align: center;
  font-size: 16px;
  
}