.center {
  padding: 5rem;
  width: 100%;
  height: 100%;
}

.centerButtons {
  position: relative;
}

.centerCard{
  position: relative;
}

.intro{
  position: absolute; 
  top: 158px;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
}