@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'), url('https://www.scdn.co/i/connect/header-spikes-sm.jpg');
   

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase {
    position: absolute;
    right: 0;
    width: 65%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: url('https://www.scdn.co/i/connect/header-spikes-sm.jpg');
    transition: 0.5s;
    z-index: 2;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

:not(svg) {
    transform-origin: 0px 0px;
}

svg:not(:root) {
    overflow: hidden;
}

.btn-scroll-arrow svg:last-of-type {
    top: -20%;
}

.btn-scroll-arrow {
    background-color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52px;
    height: 52px;
    -webkit-transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
    -webkit-transition: fill .3s ease-in-out, color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: fill .3s ease-in-out, color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
    transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
    margin-bottom: -26px;
    margin-top: -26px;
}

.btn-scroll {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 16px;
    line-height: 1;
}

.btn-scroll-arrow svg {
    display: block;
    height: 47%;
    width: 100%;
    position: relative;
    fill: currentColor;
}
.btn-scroll-fuchsia {
    color: #F037A5;
}
a {
    color: #1DB954;
    text-decoration: none;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.page-connect .wrap .jumbotron-hero {
    background-color: #ffffff;
    background-image: url('https://www.scdn.co/i/connect/header-spikes-sm.jpg');
    background-size: cover;
}

.dana-bio{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 

    .text
    {
    position: relative;
    z-index: 10;
    }

    .text h2
    {
    font-size: 5em;
    font-weight: 1000;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    }
    .text h3
    {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    }
    .text p
    {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    }
    .text a
    {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    }
    hr {
    border: none;
    border-top: 3px double #fff;
    color: #fff;
    overflow: visible;
    text-align: center;
    height: 5px;
    }

    hr:after {
        background: #ea6a1b;
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
    .text a:hover{
  letter-spacing: 6px;
    }
}

.dana{
    position: absolute;
    max-width: 15%;
    height: auto;
    left: 800px;
    top: 100px;
}
.caticorn{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 16px;
}
.pride{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 55px;
    top: 16px;
}