.dana{
    position: absolute;
    max-width: 15%;
    height: auto;
    left: 800px;
    top: 100px;
}

.caticorn{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 60px;
    top: 16px;
}

.pride{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 90px;
    top: 16px;
}