

.webContainer{
    height: auto;
    top: 0px;
    width: 100%;
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
    .Forum{
        width: 100%;
        overflow-y:auto;
        overflow: -moz-scrollbars-vertical;
        background-color: #edf2fe; 
        padding-right: 20px;
    
        .ForumHeader{
            color: #3c5395;
            letter-spacing: 0.5rem;
            font-family: ProximaNova;
            text-align: center;
            border-radius: 1000px;
            padding: 30px;
            border-block: solid;
            width: 500px;
            margin-left: 265px;
            background-color: #e7e6ff;
    
        }
    
        .NewComment{
            position: relative;
            left: 93%;
            bottom: 10px;
            width: 100px;
            height: 10%;
            background-color: rgba(32, 130, 228, 0.1);
            letter-spacing: 0.15rem;
            font-family: ProximaNova;
            color: #041f3f;
            border-radius: 40%;
            cursor: pointer;
            border-style: solid;
            border-block-color: #4588d4;
            padding: 20px;
        }
    
        .comments{
            width: 80%;
            height: 190px;
            border: solid 5px #4588d4;
            transition: border-width 0.6s linear;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: rgba(32, 130, 228, 0.1);
            display: flex;
            padding: 3%;
            margin-bottom: 5%;
            border-radius: 10px;
            margin-left: 6.5%;
            padding-bottom: 50px;
    
            .labelContainer{
                font-family: ProximaNova;

                .name::before{
                    font-weight: bold;
                    font-size: larger;
                    color: #041f3f;
                    content: "Name: ";
                    font-family: ProximaNova;
                }
        
                .name{
                    font-size: large;
                    color: black;
                    font-family: ProximaNova;    
                    margin-top: 70px;    
                    padding-bottom: 10px;        
                }
        
                .email::before{
                    font-weight: bold;
                    font-size: larger;
                    color: #041f3f;
                    content: "Email: ";
                    font-family: ProximaNova;
                }
        
                .email{
                    color: black;
                    font-size: large;
                    font-family: ProximaNova;
                    padding-bottom: 10px;
                    
                }
        
                .date::before{
                    font-weight: bold;
                    font-size: larger;
                    color: #041f3f;
                    content: "Date: ";
                    font-family: ProximaNova;
                }
        
                .date{
                    color: black;
                    font-size: large;
                    font-family: ProximaNova;
                    padding-bottom: 10px;
                }
            }
            .subjectContainer{
                margin-left: 0px;
                width: 90%;
                height: 180px;
                padding-bottom: 300px;

            .subject::before{
                font-weight: bold;
                font-size: larger;
                color: #041f3f;
                content: "SUBJECT: ";
                font-family: ProximaNova;
            }
    
                .subject{
                    // border-bottom: 3px solid #f54a00;
                    color: black;
                    font-size: large;
                    font-family: ProximaNova;
                    padding-bottom: 10px;
                    padding-left: 5px;
                }
        
                .commentText{
                    height: 100%;
                    background-color: white;
                    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 10px;
                    color: black;
                    border-style: solid;
                    border-color: #e1cfcf22;
                    font-family: ProximaNova;
                }
            }
    
            .avatar{
                position: relative;
                left: 0px;
                top: 20px;
                height: 30%;
                width: 30%;
                border-radius: 50%;
            }
        }
        .comments:hover { border-width: 10px; }
        button{
            border: none;
            border-radius: 15px;
            box-shadow: 0 0 8px rgb(207, 207, 207);
            

        }        
        #foot{
            position: relative;
            top: 10px;
            left: 450px;
            right: 0;
            bottom: 0;
            margin: auto;
            border: none;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0 0 8px #d9d4e7;
            width: 150px;
            height: 65px;
            background-color: #d9d4e7;
            // animation-duration: 5s;
        }
        
        .button-os{
            position: absolute;
            width: 150px;
            height: 65px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: #e7e6ff; 
            border: 2.5px solid #3c5395;
            }
            
            .button-os:hover{
            position: absolute;
            top: 30px;
            background-color: #edf2fe;
            }
            
            .button-os a{
            font-size: 20px;
            display: block;
            text-decoration: none;
            color:#063B6F;
            transition: 1.5s;
            font-family: ProximaNova;
            }
            
            .button-os a:hover{
            letter-spacing: 5px;
            }
        .FAQsButton{
            position: absolute;
            top: 240px;
            left: 5px;
            border-radius: 100px;
            font-size: larger;
            font-family: ProximaNova;
            background-color: #a5cdffab;
            width: 70px;
            height: 70px;
            color: #ff7700;
            }
            .FAQsButton:hover{
                background-color: #edf2fe;
                }
    
    }
}