.webContainer{
    height: auto;
    width: 100%;

    .FAQButtonActual{
        position: sticky;
        bottom:0px;
        right: 0px;
        border-radius: 50%;
        padding: 1%;
        background-color: blue;
        color: white;
        font-size: xx-large;
    }
    .ReturnButtonActual{
        position: sticky;
        top:0px;
        right: 50px;
        border-radius: 50%;
        background-color: pink;
        color: white;
        font-size: xx-large;
    }

.Forum{
    overflow-y:auto;
    overflow: -moz-scrollbars-vertical; 
    width: 100%;


    .ForumHeader{
        font-family: ProximaNova;
        padding: 10px;
        color: black;
        background-color: rgba(32, 130, 228, 0.3);
        color: black;
        letter-spacing: 0.15rem;
        text-align: center;
    }

    .NewCommentButton{
        padding: 5px;
        background-color: #063B6F;
        letter-spacing: 0.15rem;
        font-family: ProximaNova;
        color: white;
        border-radius: 10%;
        text-align: center;
        margin-left: 2%;
        margin-bottom: 2%;
        cursor: cell;
    }


    .comments{
        width: 80%;
        height: 150px;
        border-color:black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(32, 130, 228, 0.1);
        margin-left: 7%;
        margin-bottom: 5%;
        padding:3%;
        display: flex;
        padding-bottom: 40px;

        .labelContainer{
            font-family: ProximaNova;
            margin-left: -3px;

            .name::before{
                font-weight: bold;
                text-decoration: underline;
                font-size: large;
                color: black;
                content: "Name: ";
                font-family: ProximaNova;
            }
    
            .name{
                font-family: ProximaNova;
                margin-top: 49px;
                padding-bottom: 10px;
            }

            .email::before{
                font-weight: bold;
                text-decoration: underline;
                font-size: large;
                color: black;
                content: "Email: ";
                font-family: ProximaNova;
                display: inline-flex;
            }
    
            .email{
                font-family: ProximaNova;
                display: inline-flex;  
                padding-bottom: 10px;
  
            }

            .date::before{
                font-weight: bold;
                text-decoration: underline;
                font-size: large;
                color: black;
                content: "Date: ";
                font-family: ProximaNova;
            }
    
            .date{
                content: "Date: ";
                font-family: ProximaNova;
            }

        }

        .subjectContainer{
            margin-left: 36px;
            width: 80%;
            .subject{
                border-bottom: 3px solid black;
                font-family: ProximaNova;
            }
                
            .subject::before{
                font-weight: bold;
                font-size: large;
                color: black;
                content: "Subject: ";
                font-family: ProximaNova;
            }                
                
            .commentText{
                height: 80%;
                background-color: white;
                border-color: rgb(6,59,111,0.1);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-family: ProximaNova; 
                padding-bottom: 10px;
            }
        }


        .avatar{
            left: 0px;
            top: 20px;
            height: 200px;
            width: 30%;
            border-radius: 50%;
        }
    }
    }
}
