
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.HelpCenterText{
    position: absolute;
    left: 0px;
    // top: 12vh;
    font-size: 4vw;
    text-align: center;
    text-decoration: bold;
    color: black;
    font-family: proxima nova;
    background-color: white;
    height: 80vh;

    }

.ButtonContainer{
    background-color: rgb(6,59,111,0.3);
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 60vh;
    width: 100%;


.FAQButton{
    position: absolute;
    top: 5%;
    left: 60vw;
    background-image: white;
    color: black;
    letter-spacing: 0.15rem;
    width: 25vw;
    height: 25vw;
    font-size: 4vw;
    font-family: proxima nova;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border-color: rgb(6,59,111,0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: cell;
    overflow: visible;
}

.ForumButton{
    position: absolute;
    top: 5%;
    right: 60vw;
    color: black;
    letter-spacing: 0.15rem;
    width: 25vw;
    height: 25vw;
    font-size: 4vw;
    font-family: proxima nova;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border-color: rgb(6,59,111,0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    cursor: cell;
}
}

