@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.HelpCenterText{
    // position: absolute;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: bold;
    color: #041f3f;
    font-family: ProximaNova;
    background-color:white;
    min-height: 70%;

 
}
    h1 {
        display: block;
        font-size: 2.5em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        font-family: ProximaNova;;
        padding-top: 40px;
        padding-bottom: 40px;
}
  
.Buttonss{
    background-color: #063B6F;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;


    .ForumButton{
        color: #041f3f;
        letter-spacing: 0.15rem;
        width: 25vw;
        height: 25vw;
        font-size: 4vw;
        font-family: ProximaNova;;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        border-color: rgb(6,59,111,0.1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        background-color: whitesmoke;
    }
    .ForumButton:hover{
        color: #f49d6a;
    }  
    .FAQButton{
        color: #041f3f;
        letter-spacing: 0.15rem;
        width: 25vw;
        height: 25vw;
        font-size: 4vw;
        font-family: ProximaNova;;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        border-color: rgb(6,59,111,0.1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        overflow: visible;
        background-color: whitesmoke;
    }
    .FAQButton:hover{
        color: #f49d6a;
    }
}





