.inputForms{
  
  .endpointBox{
      width:100%;
      height: 20px;
  }

  .authTokenBox{
      width: 100%;
      height: 20px;
  }

  .keybox{
      width: 100%;
      height: 20px;
  }
  .Valuebox{
      width: 500px;
      height: 20px;
  }

  .add{
    background-color: #023044; 
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }

  .submit{
    background-color: #023044; 
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  .resetbutton {
    background-color: #023044; 
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  
  .methodButton {
      margin-right: 2rem;
  }
}