
.larabio{
    color: #3b85ed;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;

    .first{
        color:pink;
    }

    .title{
        color: #7842f5;
        font-style: Courier, cursive;
        font-weight: bold;
    }
  
}