.laurenbio{
    background-image: url("https://i.pinimg.com/550x/3e/1d/4d/3e1d4d582968807c7a83d60d04188054.jpg");
    min-height: 1800px;

    .github{
        width: 200px;
        height: 200px;
        margin: 0px 10px -250px 100px;
    }

    .linkedin{
        width: 200px;
        height: 200px;
        margin: 0px 10px -250px 400px;
    }

    .laurenpic{
        float: left;
        margin: 50px 19px 10px 400px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden; 
        border-style: dotted;
        border-color: white;
    }

    .fullname{
        font-family: "Noto Sans, sans-serif";
        font-size: to-upper-case($string: "");
        font-size: 200%;
        color: white;
        margin: 270px 19px 10px 400px;
    }

    .grade{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color:white;
        margin: 2px 9px 10px 380px;
    }

    .major{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color: white;
        margin: 2px 9px 10px 380px;
    }

    .location{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color: white;
        margin: 2px 9px 10px 380px;
    }

    .aboutme{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 30px 20px 15px 20px;
        border-style: dotted;
    }

    .whyCS{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;
    }

    .bitly{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;
    }

    .hobbies{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;
    }

    .media{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;
    }

}
