.laurenbio{
    background-image: url("https://i.pinimg.com/550x/3e/1d/4d/3e1d4d582968807c7a83d60d04188054.jpg");
    min-height: 1650px;

    .laurenpic{
        float: left;
        margin: 50px 19px 10px 400px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden; 
    }


    .fullname{
        font-family: 'Noto Sans, sans-serif';
        font-size: to-upper-case($string: "");
        font-size: 200%;
        color: white;
        margin-top: 50px;

    }

    .grade{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color:white;

    }

    .major{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color: white;
    }

    .location{
        font-family: 'Courier New', Courier, monospace;
        font-size: to-lower-case($string: "");
        font-size: medium;
        color: white;
    }

    .aboutme{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 100px 20px 15px 20px;
        border-style: dotted;
    }

    //.aboutmePARA{
        //font-family: 'Courier New', Courier, monospace;
        //font-size: to-lower-case($string: "");
        //font-size: medium;
        //color: white;
    //}
    
    .whyCS{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;

    }

    //.whyCSPARA{
        //ont-family: 'Courier New', Courier, monospace;
        //font-size: to-lower-case($string: "");
        //font-size: medium;
        //color: white;
    //}

    .bitly{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;

    }

    //.bitlyPARA{
        //font-family: 'Courier New', Courier, monospace;
        //font-size: to-lower-case($string: "");
        //font-size: medium;
        //color: white;

    //}

    .hobbies{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;

    }

    //.hobbiesPARA{
        //font-family: 'Courier New', Courier, monospace;
        //font-size: to-lower-case($string: "");
        //font-size: medium;
        //color: white;

    //}

    .media{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(93, 102, 179);
        border-radius:100px;
        font-size: 15px;
        padding: 50px;
        margin: 15px 20px 15px 20px;
        border-style: dotted;

    }

    //.mediaPARA{
        //font-family: 'Courier New', Courier, monospace;
        //font-size: to-lower-case($string: "");
        //font-size: medium;
        //color: white;
    //}

}
