.cardtajra {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.cardtajra:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container{
  padding: 2px 16px;

}

.tajrasimage{
    width: 150px;
    height: 130px;
}
.introduction{
    color:blue;
}

// ANDREA CARD
.cardandrea {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.cardandrea:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container{
  padding: 2px 16px;

}

.andreasimage{
    width: 150px;
    height: 130px;
}

// LARA CARD
.cardlara {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.cardlara:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container{
  padding: 2px 16px;

}

.larasimage{
    width: 150px;
    height: 130px;
}


// DANA'S CARD
.carddana {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.carddana:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container{
  padding: 2px 16px;

}

.danasimage{
    width: 150px;
    height: 130px;
}
// ROMA CARD
.cardroma {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.cardroma:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container{
  padding: 2px 16px;

}

.romasimage{
    width: 150px;
    height: 130px;
}