.webContainer{
    height: auto;
    top:0px;
    width: auto;
    display: flex;
    justify-content: center;

    .commentContainer{
        width: 70%;
        height: auto;
        color: black;
        border-radius: 6%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(32, 130, 228, 0.1);
        padding: 1%;
        margin-top: 20px;

        .submitHeader{
            text-align: center;
            color: black;
            margin-top: -2%;
            font-family: ProximaNova;
        }
    
        input[type=text] {
            border: 2px solid rgb(122, 122, 122);
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-family: ProximaNova;

        }
    
        input[type=text]:focus {
            border-radius: 30px;
            background-color: cadetblue;
            border: 8px;
            font-family: ProximaNova;

        }
    
        .subjectContainer{
            padding-left: 15px;
            .subectTextField{
                width: 65vw;
                height: 30px;
            }
        
            .subjectLabel{
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: black;
                font-family: ProximaNova;
            }
        }

        .firstNameContainer{
            padding-left: 15px;
            .firstNameTextField{
                width: 65vw;
                height: 30px;
                font-family: ProximaNova;
            }
        
            .firstNameLabel{
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: black;
                font-family: ProximaNova;
            }
        }

        .lastNameContainer{
            padding-left: 15px;
            .lastNameTextField{
                width: 65vw;
                height: 30px;
                font-family: ProximaNova;

            }
        
            .lastNameLabel{
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: black;
                font-family: ProximaNova;
            }
        }

        .emailContainer{
            padding-left: 15px;
            .emailTextField{
                width: 65vw;
                height: 30px;
                font-family: ProximaNova;
            }
        
            .emailLabel{
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: black;
                font-family: ProximaNova;
            }
        }

        .commentTextContainer{
            padding-left: 15px;
            padding-bottom: 15px;
            .commentTextField{
                width: 65vw;
                height: 8vw;
                font-family: ProximaNova;
            }
        
            .commentLabel{
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: black;
                font-family: ProximaNova;
            }
        }
        
        .buttonContainer{
            display: flex;
            justify-content: space-evenly;
            .submitButton{
                border-radius: 30px;
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: white;
                background-color: #063B6F;
                border-color: #063B6F;
                font-family: ProximaNova;
                font-weight: bold;
                height: 40px;
                width: 100px;
                cursor: pointer;

            }
    
            .submitButton:hover{
                color: orange;
            }
    
            .resetButton{
                border-radius: 30px;
                letter-spacing: 0.15rem;
                font-family: sans-serif;
                text-align: center;
                color: white;
                background-color: #063B6F;
                border-color: #063B6F;
                font-family: ProximaNova;
                font-weight: bold;    
                height: 40px;
                width: 100px;
                cursor: pointer;

            }
    
            .resetButton:hover{
                color: orange;
            }

        }
    }
}
