.tajrabio{
 background-image: url('https://bit.ly/3ntjsDU');
 background-repeat: no-repeat;
 color:rgb(17, 68, 145);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 padding-bottom:50px;
 }
.bigtitleme{
 color: rgb(43, 128, 226);
 display: block;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 1.5em;
 margin-block-start: 0em;
    margin-block-end: 5em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    font-weight: bold
    }

.prvitext{
    background-color: cornflowerblue;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin-block-start:-22em;
    margin-block-end: 4em;
    margin-inline-start: 280px;
    margin-inline-end: 50px;
    
} 
 
.funfacts{
     .titleone{
    color: rgb(135, 216, 97);
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
    display: block;
    margin-block-start:15em;
    margin-block-end: -0.005em;
    margin-inline-end: auto;
    }
    color:rgb(175, 223, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(16, 114, 57);
    // display: block;
    // margin-block-start: -7em;
    // margin-block-end: -29em;
    // margin-inline-end: auto;
    padding-bottom: 20px;

}
.mojaslika{
     border-radius: 50%;
     width: 250px;
    height: 250px;
    

}
.ostatak{
    background-color: rgba(35, 53, 209, 0.719) ;
    color: rgb(145, 184, 228);
    margin-block-start: -3em;
    margin-block-end: 1em;
    margin-inline-start: 260px;
    margin-inline-end: 30px;
}
.mismali{
    color:rgb(69, 136, 212);
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 630px;
    margin-inline-end: 40px;
}




