.tajrabio{
 background-image: url('https://bit.ly/3ntjsDU');
 background-repeat: no-repeat;
 color:rgb(17, 68, 145);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 padding-bottom:50px;
 }
.bigtitleme{
 color: rgb(43, 128, 226);
 display: block;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 1.5em;
 margin-block-start: 0em;
    margin-block-end: 5em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    font-weight: bold
    }

.prvitext{
    background-color: cornflowerblue;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin-block-start:-22em;
    margin-block-end: 4em;
    margin-inline-start: 280px;
    margin-inline-end: 50px;
    
} 
 
.funfacts{
     .titleone{
    color: rgb(135, 216, 97);
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
    display: block;
    margin-block-start:0em;
    margin-block-end: -0.005em;
    margin-inline-end: auto;
    }
    color:rgb(175, 223, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(16, 114, 57);
    // display: block;
    // margin-block-start: -7em;
    // margin-block-end: -29em;
    // margin-inline-end: auto;
    padding-bottom: 20px;

}
.mojaslika{
     border-radius: 50%;
     width: 250px;
    height: 250px;
    

}
.ostatak{
    background-color: rgba(35, 53, 209, 0.719) ;
    color: rgb(145, 184, 228);
    margin-block-start: -3em;
    margin-block-end: 1em;
    margin-inline-start: 260px;
    margin-inline-end: 30px;
}
.mismali{
    color:rgb(69, 136, 212);
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 630px;
    margin-inline-end: 40px;
}
.blue-rectangle {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 10px 20px 10px 50px;
  background-color: rgb(69, 136, 212);
  width: 200px;
  position: relative;
  margin-left: 50px;
  display: block;
 margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 1200px;
    margin-inline-end: 0px;
}
.blue-rectangle:before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-top-color:rgb(11, 66, 129);
  border-right-color:rgb(4, 116, 243);
  right: 100%;
  top: 0;
  width: 0;
  height: 50px;
}
.red-rectangle {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 30px 20px 10px 50px;
  background-color: rgb(4, 31, 63);
  width: 200px;
  position: relative;
  margin-left: 50px;
  display: block;
 margin-block-start: -15em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.red-rectangle:before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-top-color:rgb(30, 209, 135);
  border-right-color:rgb(2, 25, 87);
  right: 0;
  top: 0;
  width: 100px;
  height: 0px;
}
.gray-rectangle {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 30px 20px 10px 50px;
  background-color: rgb(4, 31, 63);
  width: 200px;
  position: relative;
  margin-left: 50px;
  display: block;
 margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.gray-rectangle:before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-top-color:rgb(30, 209, 135);
  border-right-color:rgb(2, 25, 87);
  right: 0;
  top: 0;
  width: 100px;
  height: 0px;
}
.black-rectangle {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 30px 20px 10px 50px;
  background-color: rgb(4, 31, 63);
  width: 200px;
  position: relative;
  margin-left: 50px;
  display: block;
 margin-block-start: 3em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.black-rectangle:before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-top-color:rgb(30, 209, 135);
  border-right-color:rgb(2, 25, 87);
  right: 0;
  top: 0;
  width: 100px;
  height: 0px;
}
.yellow-rectangle {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  padding: 10px 20px 10px 50px;
  background-color: rgb(69, 136, 212);
  width: 200px;
  position: relative;
  margin-left: 50px;
  display: block;
 margin-block-start: -18em;
    margin-block-end: 0em;
    margin-inline-start: 1200px;
    margin-inline-end: 0px;
}
.yellow-rectangle:before {
  content: "";
  position: absolute;
  border: 21px solid transparent;
  border-top-color:rgb(11, 66, 129);
  border-right-color:rgb(4, 116, 243);
  right: 100%;
  top: 0;
  width: 0;
  height: 50px;
}


