@import 'logo.scss';
@import 'banner.scss';
@import 'sidebar.scss';
@import 'api-buttons.scss';
@import 'center-card.scss';
@import 'input-form.scss';
@import 'results-box.scss';
@import 'tajra-bio.scss';
@import 'dana-bio.scss';
@import 'roma-bio.scss';
@import 'lara-bio.scss';
@import 'andrea-bio.scss';
@import 'comments.scss';
@import 'meetteam.scss';
.main {
    display: flex;
    width: 98vw;
    height: 100vh;

}