@import 'logo.scss';
@import 'banner.scss';
@import 'sidebar.scss';
@import 'api-buttons.scss';
@import 'center-card.scss';
@import 'input-form.scss';
@import 'results-box.scss';
@import 'tajra-bio.scss';
@import 'dana-bio.scss';
@import 'roma-bio.scss';
@import 'lara-bio.scss';
@import 'andrea-bio.scss';
@import 'comments.scss';
@import 'api-example.scss';
@import 'meetteam.scss';
@import 'footer.scss';
@import 'api-info.scss';

.main {
    display: flex;
    min-height: 100vh;	    
    position:relative;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: $bg;
    color: $gray;
    min-height: 100vh;
  }