$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

@import 'logo.scss';
@import 'banner.scss';
@import 'sidebar.scss';
@import 'api-buttons.scss';
@import 'center-card.scss';
@import 'input-form.scss';
@import 'results-box.scss';
@import '2021_team_styles/tajra-bio.scss';
@import '2021_team_styles/dana-bio.scss';
@import '2021_team_styles/roma-bio.scss';
@import '2021_team_styles/lara-bio.scss';
@import '2021_team_styles/andrea-bio.scss';
@import '2021_team_styles/teamlist.scss';
@import 'comments.scss';
@import 'homecards.scss';
@import 'api-example.scss';
@import 'footer.scss';
@import 'api-info.scss';
@import '2021_team_styles/margaret-bio.scss';
@import 'lauren-bio.scss';
@import '2022_team_styles/_skyler-bio.scss';


.main {
    display: flex;
    min-height: 100vh;	    
    position:relative;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: $bg;
    color: $gray;
    min-height: 100vh;
  }