
.kadbio{
    background-image: url('file:///Users/helloworld/Documents/cc9c49a955707d42f4cd757e78e7c757.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border: 4px solid #557282;
        padding: 20px;
        padding-bottom: 100px;
    
    color:#475a91;
    font-family: 'Brush Script MT', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    //.bio_pic{

        //display: block;
       // height: 100px;
       // margin: auto;
    //}
    .testtag1{
        border-top-style: dotted;
        }
    .testtag2{
            border-top-style: dotted;
        }
    .testtag3{
            border-top-style: dotted;
        }
}